x1.npy
x2.npy
y1.npy
y2.npy

bayes_Linearly_separable.png
RandomForest_Linearly_separable.png
SVM_C_Linearly_separable.png
SVM_C_optimize_Linearly_separabled.png
SVM_GammaHigh_Linearly_separable.png
SVM_GammaLow_Linearly_separable.png
SVM_Linearly_separable.png

bayes_Non_Linearly_separable.png
RandomForest_Non_Linearly_separable.png
SVM_C_Non_Linearly_separable.png
SVM_C_optimize_Non_Linearly_separabled.png
SVM_GammaHigh_Non_Linearly_separable.png
SVM_GammaLow_Non_Linearly_separable.png
SVM_Non_Linearly_separable.png